.PresentBox img {
    padding-top: 10px;
    margin: auto;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    cursor: pointer;
}

.PresentBox h3 {
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
}