.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexCol {
    flex-direction: column;
}

.inputCard {
    margin-bottom: 10px;
    display: flex;
}

.preview {
    width: 100%;
    padding-bottom: 10px;
}