div .content {
    margin-top: 90px;
    margin-left: 30px;
    width: 800px;
    background-color: #dfdfdf;
    padding: 10px;
    border: solid;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    div .content {
        width: 80%;
    }
}

@media (max-width: 400px) {
    div .content {
        width: 320px;
    }
}