.Navigation .active {
    color: #dfdfdf;
}

.MobileNavMenuIcon {
    display: none;
}

.DesktopMenuItem {
    display: inline
}

@media (max-width: 425px)
{
    .MobileNavMenuIcon {
        display: inline
    }
    .DesktopMenuItem {
        display: none
    }
}