.Navigation .active {
    color: #dfdfdf;
}

.MobileNavMenuIcon {
    display: none;
}

.DesktopMenuItem {
    display: inline-block;
}

.shifted {
    margin-left: 45px;
}

.DesktopMenuItem > img {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 599px)
{
    .MobileNavMenuIcon {
        display: inline;
    }
    .DesktopMenuItem {
        display: none;
    }
}